
data/TIFtest/tif_files/tif_1/at3_1m4_01.tif
data/TIFtest/tif_files/tif_1/at3_1m4_02.tif
data/TIFtest/tif_files/tif_2/at3_1m4_03.tif
data/TIFtest/tif_files/tif_2/at3_1m4_04.tif
data/TIFtest/tif_files/tif_3/at3_1m4_05.tif
data/TIFtest/tif_files/tif_3/at3_1m4_06.tif
